*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container{
     width: 100%;
 }

 header{
     background-color: #1E1C21;
     width: 100%;
     height: 60px;
     position:fixed;
     top: 0;
 }

 .container_header{
    display: flex;
    justify-content: center;
    height: 35px;
    margin-top: 13px;
 }

 .nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 645px;
    margin-left: 158px;
    margin-right: 26px;
 }

 .nav_header a{
     color: white;
     text-decoration: none;
     text-transform:uppercase;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 14px;
 }

 main{
    margin-top: 60px;
 }

.container_times{
     width: 100%;
     height: 237px;   
     background-image: url(../E-Players/assets/fundo\ 2.png);
}

h1{
    color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
     font-weight: bold;
     font-size: 40px;
     align-items: center;
      display: flex;
     justify-content: space-evenly;
      padding-top: 92px;
}

.container_cadastro_lista{
    background: #1E1C21;
    align-items: center;
      display: flex;
      justify-content: center;
      height: 779px
}

.box_cadastro{
     width: 770px;
     height: 340px;
     background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
     box-shadow: 1px 1px 20px 4px #000000;
     margin-bottom: 273px;
}

.box_equipe{
    /* background-color: thistle; */
    display: grid;
    justify-content: center;
    height: 338px;
} 

.equipe{
    display: flex;
   flex-direction: column;
   margin-top: 9%;
}

.box_equipe span{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
     font-weight: normal;
    font-size: 20px;
}

.espaço_escrever{
    width: 546px;
    height: 28px;
    background-color: #ABABAB;
}

.emblema{
    display: flex;
   flex-direction: column;
}

.por_imagem{
     width: 134px;
     height: 28px;
     background-color: #ABABAB;
     font-style: normal;
     font-weight: normal;
     font-size: 15px;
     padding: 5px;
}

.cadastrar_box{
    font-size: 24px;
    color:white;
    background: #001F70;
    border-radius: 18px;
    width: 187px;
    height: 44px;
    margin-left: 34%;
    padding: 8px;
    text-decoration: none;
 }

 h2{
    color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
     font-weight: bold;
     font-size: 40px;
     display: flex;
     justify-content: center;
     margin-top: 94px;
     height: 64px;
 }

  .box_lista{
     border:none;
 } 

 .escrita{
     border-right: none;
 }

 .escrita_2{
   border-left: none; 
 }

 th{
     background: #010101;
     border: 1px solid #FFFFFF; 
     color: #FFFFFF;
     font-style: normal;
     font-weight: normal;
     font-size: 21px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     width: 770px;
 } 

 td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color:white;
     border: 1px solid #FFFFFF;
     border-top: none;
}

.linha{
   border-right: none; 
}

.linha td{
   border-bottom: none;   
}

 .linha_img{
     border-left: none;
} 




.container_footer{
    background-color: #211C1D;
    height: 308px;
 }
 
 .box_footer{
    /* background-color: teal; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 7%;
 
 }
 
 .links_uteis{
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
 }
 
 h5{
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: white;
 }
 
 .links_uteis li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 16px;
 }
 
 .links_uteis li::marker{
    font-size: 30px;
 }
 
 .paginas{
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    margin-left: 3%;
 }
 
 .paginas li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: white;
    margin: 14px;
 }
 
 .paginas li::marker{
    font-size: 30px;
 }
 
 .logo_footer{
     height: 25px;
     width: 283px;
     margin-top: 10%;
 }
 
 .box_2{
    width:  445px;
 }
 
 .parte_cadastrar{
    padding-top: 24px;
 }
 
 .nav_footer{
    margin-left: 11%;
    display: flex;
 }
 
 .e_mail{
    background-color:white;
    border-radius: 4px;
    width: 152px;
    height: 26px;
 }
 
 .cadastrar{
    font-size: 21px;
    color:white;
    background-color: blue;
    border-radius: 4px;
    width: 152px;
    height: 28px;
 }
 
 .parte_cadastrar span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
 }
 
 .redes_sociais img{
    width: 61px;
    height: 58px;
 }
 
 .redes_sociais{
    display: flex;
     align-items: center;
     margin-top: 33%;
     margin-left: 4%;
 }